[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_r
name: R for Windows
description: R is a free software environment for statistical computing and graphics.
advice: 
version: 3.3.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: architecture
multivalue: False
editable: False
description: Sets which architecture should be installed. For most users we would recommend using the `native' build, that is the 32-bit version on 32-bit Windows and the 64-bit version of 64-bit Windows.
values: ["32bit", "64bit", "auto", "both"]
default: ["auto"]

[ProductProperty]
type: unicode
name: keep_version
multivalue: False
editable: False
description: Distinguishes wether to keep or remove old versions. "Keep major versions" will keep the last 3.0.x, 3.1.x and 3.2.x to make sure a tested plugin setup isn't removed
values: ["keep all older", "keep major versions", "remove all older"]
default: ["keep major versions"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: True
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: True
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: bool
name: desktopicon
description: generate or delete desktop icon
default: True

[Changelog]
r (3.1.2-1) stable; urgency=low

	* initial: created by Eric Esser, Wissenschaftszentrum Berlin

-- Eric Esser <eric.esser@wzb.eu>  19.02.2015 12:49:54
